
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: #432d27;
}
.white{
    color: white;
}
.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.conatiner{
    position: relative;
}
.nav{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
    position: sticky;
    background-color: #daccba;
    width: 100%;
    z-index: 1;
}

#ProductContainer {
    min-height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#ProductContainer1 {
    min-height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.beandata {
    width: 330px;
    height: 350px;
    background-color: #d7b7a3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgb(77, 74, 74);
    transform: all 1s;
    cursor: pointer;
    color: #4b1f0e;
}
.baendata:hover{
    box-shadow: none;
}
img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
}
.logo{
    height: 80px;
    width: 80px;
}
button{
    padding: 8px 25px;
    font-size: 18px;
    outline: none;
    border: 1px solid gray;
    border-radius: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    transition: all 1s;
    background-color: #39231d;
    color: white;
}
button:active{
    transform: scale(0.1);
}
.addcart{
    overflow: auto;
}
input{
    padding: 10px;
    border-radius: 8px;
    width: 400px;
    outline: none;
    border: 1px solid black;
}
.shop-cart{
    /* position: absolute;
    right: 45px; */
    font-size: 30px;
    cursor: pointer;
}
.carts{
    height: 75vh;
    width: 380px;
    margin-bottom: 20px;
    background-color: white;
    position: fixed;
    right: -120%;
    z-index: 999;
    box-shadow: 2px 2px 5px black;
    transition: all 1s;
    overflow: auto;
}
.titles{
    padding: 10px;
    justify-content: space-between;
}
.wrong{
    cursor: pointer;
    font-size: 22px;
}
.icon-add{
    background-color: lightgoldenrodyellow;
}
.addproduts{
    width: 100%;
    background-color: lightgray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 9px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    /* overflow: auto; */
}
.tamount{
    position: absolute;
    padding: 10px 0px;
    background-color: white;
    bottom: 0px;
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
/* #pamt{
    position: absolute;
    right: 15px;
} */
.addproduts img{
    width: 60px;
    height: 60px;
}

.added h1{
    padding: 0px 10px;
}
.added button{
    padding: 8px 8px;
    font-size: 10px;
    outline: none;
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s;
    background-color: black;
    color: white;
}
.names{
    width: 150px;
    text-align: center  ;
}
.name1{
    font-size: 27px;
}
.amountss{
    width: 100%;
    padding: 0px 20px;
    justify-content: space-between;
    /* position: absolute; */
    bottom: 0;
}
#btn{
    width:5px;
}
.home{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product1{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slideshow {
  width: 100%;
  height: 65vh;
  overflow: hidden;
  /* border-radius: 12px; */
}

.slideshow img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 1px;
}
.slideshow1{
    background-color: #d7b7a3;
}

a{
    color: #39231d;

    text-decoration: none;
}
.pay{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*nav*/


.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    background: #2b1b0f;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 998;
    transition: all 2s; 
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
}


.nav h1 {
    font-size: 22px;
}

#fruitch {
    padding: 7px 10px;
    border-radius: 4px;
    border: none;
    outline: none;
}

.nav-links {
    display: flex;
    gap: 20px;
    transition: all 2s; 
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.nav-links a:hover {
    color: #f4b400;
}

.nav-icons {
    display: flex;
    gap: 15px;
    align-items: center;
}

.shop-cart {
    font-size: 20px;
    cursor: pointer;
}

.menu-icon {
    display: none;
    font-size: 22px;
    cursor: pointer;
}
.cart-icon {
  position: relative;
  font-size: 26px;
  cursor: pointer;
}

#cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background: red;
  color: white;
  font-size: 12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* -------- MOBILE VIEW -------- */
@media (max-width: 1000px) {
    #fruitch {
        display: none;
    }

    #search {
        display: none;
    }

    .nav-links {
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        background: #2b1b0f;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px 0;
        display: none;  
    }

    .nav-links a {
        padding: 10px 0;
        width: 100%;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }
}



/* FOOTER  */

.footer {
  background: #d7b7a3;
  color: #2b1b0f;
  padding: 50px;
  border-radius: 25px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}

.footer-about {
  flex: 1 1 300px;
  max-width: 500px;
}

.footer-lg {
  display: flex;
  gap: 10px;
}

.footer-logo {
  width: 120px;
  height: 114px;
  margin-bottom: 10px;
}

.footer-about h1 {
  font-size: 35px;
  margin-top: 25px;
  /* margin-bottom: 10px; */
}

.footer-about p {
  line-height: 1.7;
  margin-bottom: 20px;
  color: #2b1b0f;
}

.social-icons a {
  font-size: 25px;
  margin-right: 10px;
  color: #2b1b0f;
  text-decoration: none;
  transition: 0.3s;
}

.social-icons a:hover {
  opacity: 0.7;
}

.footer-links,
.footer-contact {
  flex: 1 1 200px;
  min-width: 200px;
}

.footer-links h3,
.footer-contact h3 {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
}

.footer-links a {
  display: block;
  margin-bottom: 10px;
  color: #2b1b0f;
  text-decoration: none;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #432d27;
}

.footer-contact p {
  margin-bottom: 10px;
  line-height: 1.6;
}

hr {
  border: none;
  border-top: 1px solid #2b1b0f;
  margin: 30px 0;
  opacity: 0.4;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.footer-bottom a {
  text-decoration: none;
  color: #2b1b0f;
  transition: 0.3s;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

/*  Laptop  */

@media (max-width: 1200px) {
  .footer {
    padding: 40px;
  }

  .footer-logo {
    width: 100px;
  }

  .footer-about h1 {
    font-size: 30px;
  }

  .footer-container {
    gap: 35px;
  }
}

/*  Tablet ( */

@media (max-width: 768px) {
  .footer {
    padding: 35px;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .footer-about {
    max-width: 100%;
  }

  .footer-lg {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .footer-about h1 {
    font-size: 28px;
  }

  .footer-logo {
    width: 100px;
  }

  .social-icons a {
    font-size: 22px;
  }

  .footer-links h3,
  .footer-contact h3 {
    font-size: 17px;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px;
  }
}

/* Mobile*/

@media (max-width: 480px) {

  /*add to cart*/
  .carts{
    width: 300px;
  }


  .footer {
    padding: 25px;
  }

  .footer-about h1 {
    font-size: 25px;
  }

  .footer-logo {
    width: 80px;
  }

  .footer-about p {
    font-size: 14px;
  }

  .social-icons a {
    font-size: 20px;
    margin-right: 8px;
  }

  .footer-links h3,
  .footer-contact h3 {
    font-size: 16px;
  }

  .footer-links a,
  .footer-contact p {
    font-size: 14px;
  }

  hr {
    margin: 20px 0;
  }

  .footer-bottom p,
  .footer-bottom a {
    font-size: 13px;
  }

}
